.first{
    background-color: #F0FFF0;
}
.singin{
    background-color: #21B573;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 8px 25px;

}
.left1{
    margin-left: 40px;
    font-size:medium;
}
.baton{
    background: none;
    border: none;
    font-size: 20px;
}
.contaner{
    margin-bottom: 40px;
}
.second:hover{
   text-align: center;
   background-color: #F0FFF0;
   margin-right: 20px;
   box-shadow: 10px 10px 10px lightgray;
}
.third{
    box-shadow: 10px 10px 10px lightgray;
    border-radius: 20px;
}